@model Emlak.Models.Ilan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>İlan Hakkında</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OdaSayisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OdaSayisi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BanyoSayisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BanyoSayisi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarih)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurumNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurumNavigation.Durum1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MahalleNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MahalleNavigation.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResimNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResimNavigation.Resim1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SehirNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SehirNavigation.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SemtNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SemtNavigation.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipNavigation.Tip1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Geri Dön</a>
</div>
