@using System.Security.Claims;
@model IEnumerable<Emlak.Models.Ilan>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var username = "";
	var role = "";
	if (User.Identity.IsAuthenticated) // oturum açtı mı?
	{
		username = User.FindFirst(ClaimTypes.NameIdentifier).Value;
		role = User.FindFirst(ClaimTypes.Role).Value;
	}
}

@*@if (User.Identity.IsAuthenticated)
{
	<text>
		<div>
			User Name : @username
		</div>
	</text>
}*@

<!DOCTYPE html>
<html>
<head>
	<title>İlanlar</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #f2f2f2;
		}

		.container {
			max-width: 2800px;
			margin: 0 auto;
			padding: 30px;
			border: 1px solid #ccc;
			border-radius: 5px;
			background-color: #fff;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		}

		h1 {
			text-align: center;
			margin-top: 0;
			color: #333;
		}

		.table {
			width: 100%;
			border-collapse: collapse;
			margin-top: 30px;
		}

			.table th,
			.table td {
				padding: 8px;
				border: 1px solid #ccc;
				text-align: left;
			}

			.table th {
				background-color: #f2f2f2;
				font-weight: bold;
				color: #333;
			}

			.table tr:nth-child(even) {
				background-color: #f9f9f9;
			}

		.details-link {
			color: #333;
			text-decoration: none;
			transition: color 0.3s;
		}

			.details-link:hover {
				color: #007bff;
			}
	</style>
</head>
<body>
	<div class="container">
		<h1>İlanlar</h1>
		<table class="table">
			<thead>
				<tr>
					<th>Fiyat</th>
					<th>Alan</th>
					<th>Oda Sayısı</th>
					<th>Banyo Sayısı</th>
					<th>Kat</th>
					<th>Adres</th>
					<th>Telefon</th>
					<th>Tarih</th>
					<th>Açıklama</th>
					<th>Durum</th>
					<th>Mahalle</th>
					<th>Resimler</th>
					<th>Şehir</th>
					<th>Semt</th>
					<th>Tip</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@Html.DisplayFor(modelItem => item.Fiyat)</td>
						<td>@Html.DisplayFor(modelItem => item.Alan)</td>
						<td>@Html.DisplayFor(modelItem => item.OdaSayisi)</td>
						<td>@Html.DisplayFor(modelItem => item.BanyoSayisi)</td>
						<td>@Html.DisplayFor(modelItem => item.Kat)</td>
						<td>@Html.DisplayFor(modelItem => item.Adres)</td>
						<td>@Html.DisplayFor(modelItem => item.Telefon)</td>
						<td>@Html.DisplayFor(modelItem => item.Tarih)</td>
						<td>@Html.DisplayFor(modelItem => item.Aciklama)</td>
						<td>@Html.DisplayFor(modelItem => item.DurumNavigation.Durum1)</td>
						<td>@Html.DisplayFor(modelItem => item.MahalleNavigation.Ad)</td>
						<td>@Html.DisplayFor(modelItem => item.Resims)</td>
						<td>@Html.DisplayFor(modelItem => item.SehirNavigation.Ad)</td>
						<td>@Html.DisplayFor(modelItem => item.SemtNavigation.Ad)</td>
						<td>@Html.DisplayFor(modelItem => item.TipNavigation.Tip1)</td>
						<td><a class="details-link" asp-action="Details" asp-route-id="@item.Id">İlanı İncele</a></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</body>
</html>


@*<h1>İlanlar</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Fiyat)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Alan)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OdaSayisi)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BanyoSayisi)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Kat)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Adres)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Telefon)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Tarih)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Aciklama)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DurumNavigation)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MahalleNavigation)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Resims)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SehirNavigation)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SemtNavigation)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TipNavigation)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Fiyat)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Alan)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.OdaSayisi)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BanyoSayisi)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Kat)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Adres)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Telefon)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Tarih)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Aciklama)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DurumNavigation.Durum1)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.MahalleNavigation.Ad)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Resims)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SehirNavigation.Ad)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SemtNavigation.Ad)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TipNavigation.Tip1)
				</td>
				<td>
					<a asp-action="Details" asp-route-id="@item.Id">İlanı İncele</a>
				</td>
			</tr>
		}
	</tbody>
</table>*@