@model Emlak.Models.SoruCevap

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";

}

<h1>Sil</h1>

<h3>Soruyu silmek istediğinizden emin misiniz?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarih)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soru)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soru)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Geri Dön</a>
    </form>
</div>